<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: %w(form-control) %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: %w(btn btn-primary) %>
  </div>

  <%= f.hidden_field :uuid %>
  <%= f.hidden_field :content_type %>
<% end %>
